@font-face{
    font-family: 'minijianxingkai';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('./minijianxingkai.woff2') format("woff2");
    /* unicode-range: U+201C, U+201D, U+2018, U+2019, U+2E3A, U+2014, U+2013, U+2026,
    U+00B7, U+007E, U+002F; */
}

:root{
    --vp-font-family-base: 'minijianxingkai';
}

body{
    font-family: 'minijianxingkai';
}