/* 自定义字体 */
@font-face {
  font-family: "方正行楷简体";
  font-display: swap;
  src: url("/fonts/方正行楷简体.woff2") format("woff2");
  /* url("/fonts/方正行楷简体.ttf") format("truetype"); */
}

/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

:root {
  --vp-font-family-base: "方正行楷简体", sans-serif;
  --vp-font-family-mono: "Inter", monospace;
}

/* 
body{
  font-family: var(--vp-font-family-base),sans-serif;
} */

/* 重写某些样式 */
/* VPFooter */
.VPFooter .message,
.VPFooter .copyright {
  font-size: 1.2rem;
  color: transparent;
  /* background-image: repeating-linear-gradient(-90deg,#0f0 0%,#0f0 30%,#f0f 55%, #6000e0 70%,#6000e0 100%); */
  background-image: linear-gradient(to right,#f0f 0%,#f0f 30%,#8f8ff9,#000 70%,#000 100%);
  background-clip: text;
  text-shadow: 0 0 5px #8f8ff9;
}
.dark .message,.dark .copyright {
  background-image: linear-gradient(45deg,#8f8ff9 0%,#8f8ff9 33%,#f00,#fff 66%,#fff 100%);
  text-shadow: 0 0 5px #000;
}
/* 提高选择器的特异性>=原有的特异性才能覆盖样式 */
.VPLink.VPNavBarMenuLink,
button.button > span.text {
  font-size: 22px;
}
/* nav中的logo 和 home中的大图标都用的 VPImage */
.VPImage {
  border-radius: 50%;
  box-shadow: 0 0 20px skyblue;
}

.VPImage.logo + span {
  font-size: 22px;
}

/* 设置markdown 分割线hr的样式 */
.vp-doc hr {
  overflow: visible;
  height: 30px;
  border-style: solid;
  border-color: rgb(143, 142, 244);
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
.vp-doc hr::before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: rgb(143, 142, 244);
  border-width: 0 0 1px 0;
  border-radius: 20px;
}
/* 设置action类的hover样式 */
/* 注意所谓的夜晚模式,只是切换是否有dark类,而不是白天white,夜晚dark */
html.dark div[class*="action"] > .VPButton.medium:hover {
  border: 1px solid #fff;
}
div[class*="action"] > .VPButton.medium:hover {
  border: 1px solid #000;
}
.items .VPFeature:hover {
  border: 2px solid #0bb0da;
  transform: scale(105%);
  box-shadow: 0 0 5px #0bb0da;
}

html.dark .VPFeature:hover {
  transform: scale(105%);
  border: 2px solid #fff;
  box-shadow: 0 0 5px #fff;
}

/* sidebarItem && outlineitem */
/* 划过目录的样式 */
.VPSidebarItem[class*="level-"] > .item > .text:hover {
  padding-left: 0.5rem;
  color: #fff;
  background-color: crimson;
}
/* 划过页面的样式 */
.VPSidebarItem[class*="level-"].is-link > .item > a.VPLink.link:hover p.text {
  padding-left: 0.5rem;
  color: #fff;
  background-color: rgb(107, 105, 237);
}

/* 设置插件mermaid的父容器的简单样式 */
.mermaid {
  border: none;
  box-shadow: 0 0 10px rgb(130, 129, 195);
}

/* 给.vp-doc下的标题增加背景色 */

/* 下面两者作用的元素不一样 */
/* class= language-sh 用box-shadow实现的 */
.vp-doc div[class*="language-"] {
  border-radius: 5px;
  animation: border-flow 10s infinite linear;
  -webkit-animation: border-flow 10s infinite linear;
}

/* .vp-doc h1,.vp-doc h2,.vp-doc h3,.vp-doc h4,.vp-doc h5,.vp-doc h6{
  background-color: #28abf1;
  color: #00ffff;
  padding: 0 10px;
  border-radius: 2px;
  transition: 1s;
} */
.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
  background-color: #8f8ff9;
  color: #000;
  padding: 0 10px;
  border-radius: 2px;
  transition: 1s;
}

.vp-doc h1:hover,
.vp-doc h2:hover,
.vp-doc h3:hover,
.vp-doc h4:hover,
.vp-doc h5:hover,
.vp-doc h6:hover {
  background-color: #8080c0;
  color: #fff;
}

/* 用border-image 元素实现但对border-radius有影响 */
/* .vp-doc div[class*="language-"] pre{
  border: 3px solid transparent;
  border-radius: .5px;
  animation: flow-border 1s infinite linear;
} */

@keyframes border-flow {
  0%,
  100% {
    box-shadow: 0 0 5px #00ffff;
  }
  12.5% {
    box-shadow: 0 0 5px #00d0ff;
  }
  25% {
    box-shadow: 0 0 5px #40ed94;
  }
  37.5% {
    box-shadow: 0 0 5px #0050ff;
  }
  50% {
    box-shadow: 0 0 5px #0090ff;
  }
  62.5% {
    box-shadow: 0 0 5px #8000ff;
  }
  75% {
    box-shadow: 0 0 5px #d000ff;
  }
  87.5% {
    box-shadow: 0 0 5px #ff00ff;
  }
}

@keyframes flow-border {
  0%,
  100% {
    border-image-source: linear-gradient(
      to right,
      #00ffff,
      #00d0ff,
      #0090ff,
      #0050ff,
      #0000ff,
      #8000ff,
      #d000ff,
      #ff00ff
    );
    border-image-slice: 1;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch;
  }
  50% {
    border-image-source: linear-gradient(
      to right,
      #ff00ff,
      #d000ff,
      #8000ff,
      #0000ff,
      #0050ff,
      #0090ff,
      #00d0ff,
      #00ffff
    );
    border-image-slice: 1;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch;
  }
}
